@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bots Constructor</title>
    <link href="@Url.Content("~/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/simple-sidebar.css")" rel="stylesheet">
    <script src="@Url.Content("~/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
</head>
<body>

    <!-- Вся страница-->
    <div class="d-flex" id="wrapper">
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!-- Левое меню -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading "><a class="text-decoration-none text-reset" asp-controller="Main" asp-action="Index">@Localizer["Bots constructor"] </a></div>
            <div class="list-group list-group-flush">
                <a asp-controller="Home" asp-action="MyBots" class="list-group-item list-group-item-action bg-light">Мои боты</a>
                <a asp-controller="Orders" asp-action="Orders2" class="list-group-item list-group-item-action bg-light">Заказы <span class="badge badge-danger" id="newOrdersSpan"></span></a>
                <a asp-controller="AccountManagement" asp-action="Index" class="list-group-item list-group-item-action bg-light">Аккаунт</a>
                <a asp-controller="Support" asp-action="Index" class="list-group-item list-group-item-action bg-light">Поддержка</a>
            </div>
            <script>
                function SetNewOrdersCount (count) {
                    if (count == 0) {
                        document.getElementById("newOrdersSpan").innerHTML = "";
                    }
                    else {
                        document.getElementById("newOrdersSpan").innerHTML = count;
                    }
                }




                var update = function () {
                    console.log(   "ajax ");
                    $.ajax({
                        type: 'POST',
                        url: '/Orders/GetNewOrdersCount',
                        success: function (data) {
                            SetNewOrdersCount(data);
                            //setNewFeedbackCount(?);
                        },
                    });
                };

                update();


            </script>



            <script>
            (function () {
                var getWebSocketMessages = function (onMessageReceived) {
                    var url = `wss://${location.host}/Orders/SetWebsocketOrdersCount`
                    console.log('url is: ' + url);

                    var webSocket = new WebSocket(url);
                    webSocket.onmessage = onMessageReceived;
                    webSocket.onerror = onError;
                };

                function onError() {

                    console.log("Не удалось установить webSocket соединение");
                    console.log("Запуск long polling");
                    setInterval(() => update(), 10000);

                }


                getWebSocketMessages(function (message) {
                    //console.log("Пришло уведомление");
                    var jsonObj = JSON.parse(message.data);
                    //console.log(jsonObj);

                    SetNewOrdersCount(jsonObj.ordersCount);
                    

                });
            }());

        </script>




        </div>
        <!-- /#Левое меню -->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!-- Страница без левого меню -->
        <div id="page-content-wrapper">
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!-- Верхняя полоса -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!-- Закрыть левое меню-->
                <button class="btn btn-primary" id="menu-toggle">Menu</button>
                <script>
                    $("#menu-toggle").click(function (e) {
                        e.preventDefault();
                        $("#wrapper").toggleClass("toggled");
                    });
                </script>
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!-- Загадочная хрень -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Загадочная хрень -->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!-- Правый верхний выпадающий список и ссылки -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Что <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Тут</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Написать?
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Я</a>
                                <a class="dropdown-item" href="#">не знаю</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="SignOut" asp-action="Logout">Выйти</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Правый верхний выпадающий список и ссылки -->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
            </nav>
            <!-- Верхняя полоса -->


            @RenderBody()

            @RenderSection("Scripts", required: false)
        </div>
        <!-- /#Страница без левого меню -->



    </div>
    <!-- Вся страница-->



</body>
</html>
