

@{
    Layout = "_LayoutHome";
}

<div class="text-center">
    <h1 class="display-4">It's me BotEditing Feedback </h1>
</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    .container {
        max-width: 1170px;
        margin: auto;
    }

    img {
        max-width: 100%;
    }

    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%;
        border-right: 1px solid #c4c4c4;
    }

    .inbox_msg {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;
    }

    .top_spac {
        margin: 20px 0 0;
    }


    .recent_heading {
        float: left;
        width: 40%;
    }

    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
        padding:
    }

    .headind_srch {
        padding: 10px 29px 10px 20px;
        overflow: hidden;
        border-bottom: 1px solid #c4c4c4;
    }

    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }

    .srch_bar input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }

    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }

    .srch_bar .input-group-addon {
        margin: 0 0 0 -27px;
    }

    .chat_ib h5 {
        font-size: 15px;
        color: #464646;
        margin: 0 0 8px 0;
    }

        .chat_ib h5 span {
            font-size: 13px;
            float: right;
        }

    .chat_ib p {
        font-size: 14px;
        color: #989898;
        margin: auto
    }

    .chat_img {
        float: left;
        width: 11%;
    }

    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }

    .chat_people {
        overflow: hidden;
        clear: both;
    }

    .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
    }

    .inbox_chat {
        height: 550px;
        overflow-y: scroll;
    }

    .active_chat {
        background: #ebebeb;
    }

    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }

    .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
    }

    /*.received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }*/
    .received_withd_msg textarea {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }

    .received_withd_msg {
        width: 57%;
    }

    .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 100%;
    }

    .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .outgoing_msg {
        overflow: hidden;
        margin: 26px 0 26px;
    }

    .sent_msg {
        float: right;
        width: 46%;
    }

    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .type_msg {
        border-top: 1px solid #c4c4c4;
        position: relative;
    }

    .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }

    .messaging {
        padding: 0 0 50px 0;
    }

    .msg_history {
        height: 516px;
        overflow-y: auto;
    }
</style>

<body>
    <div class="container">

        <div class="messaging">
            <div class="inbox_msg">

                <div class="mesgs">
                    <div class="msg_history" id="mesgs">

                        @foreach (var pair in ViewData["mesPairs"] as List<MessagesPairModel>)
                        {
                            <div class="incoming_msg" id="incomingMessage_@pair.NumberOfPair">
                                <div class="incoming_msg_img"> <img src="https://st-msk.tcdn.co/app/img/cards/card-bot-contest.gif" alt="sunil"> </div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <textarea class="form-control" id="textarea_@pair.NumberOfPair" rows="3">@pair.Textarea</textarea>
                                        <span class="time_date"> 11:01 AM | June 9</span>
                                    </div>
                                </div>
                            </div>

                            <div class="outgoing_msg" id="outgoingMessage_@pair.NumberOfPair">
                                <div class="sent_msg">

                                    <div class="card border-primary mb-3" style="max-width: 30rem;">

                                        <div class="card-header">Типы ответов, которые вы ожидаете получить</div>

                                        <div class="card-body text-primary">
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox_@(pair.NumberOfPair)_0" class="styled" type="checkbox" @pair.ChekedText>
                                      <label>Текст</label>

                                  </div>

                                  <div class="checkbox checkbox-success">
                                                <input id="checkbox_@(pair.NumberOfPair)_1" class="styled" type="checkbox" @pair.ChekedVideo>
                                                <label>Видео</label>
                                            </div>
                                            <div class="checkbox checkbox-info">
                                                <input id="checkbox_@(pair.NumberOfPair)_2" class="styled" type="checkbox" @pair.ChekedAudio>
                                                <label>Аудио</label>
                                            </div>
                                            <div class="checkbox checkbox-info">
                                                <input id="checkbox_@(pair.NumberOfPair)_3" class="styled" type="checkbox" @pair.ChekedLocation>
                                                <label>Геолокация</label>
                                            </div>

                                        </div>
                                    </div>

                                    <span class="time_date"> 11:01 AM | June 9</span>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>


            <button type="button" class="btn btn-success btn-lg btn-block" OnClick="doDich();">Сохранить</button>
            <button type="button" class="btn btn-success btn-lg btn-block" OnClick="createPair();">Добавить пару</button>
            <button type="button" class="btn btn-success btn-lg btn-block" OnClick="deletePair();">Удалить пару</button>
            <script>
                function doDich() {
                   
                    var array = [];

                    //alert("сохраниение");

                    for (var i = 1; i <= $('#mesgs').children().length / 2; i++) {    

                        var textarea = document.getElementById('textarea_' + i).value;

                        

                        var check1 = document.getElementById('checkbox_' + i + "_" + 0).checked;
                        var check2 = document.getElementById('checkbox_' + i + "_" + 1).checked;
                        var check3 = document.getElementById('checkbox_' + i + "_" + 2).checked;
                        var check4 = document.getElementById('checkbox_' + i + "_" + 3).checked;

                        //alert(check1 + " " + check2 + " " + check3 + " " + check4);

                        var result =
                        {
                            'textarea': textarea,
                            'text': check1,
                            'video': check2,
                            'audio': check3,
                            'geolocation': check4
                        };

                        array.push(result);
                    }

                    var url_string = window.location.href;
                    var url = new URL(url_string);
                    var botId = url.searchParams.get("botId");
                
                    $.ajax({
                        url: '/BotEditing/Feedback',
                        type: 'post',
                        data: { botId:botId, ids: JSON.stringify(array) },
                        success: function (data) {
                            //alert("peremoga");
                        }
                    });

                }
          

                function createPair() {
                    var firstIncomingMessage = document.getElementById("incomingMessage_1");
                    var firstOutgoingMessage = document.getElementById("outgoingMessage_1");

                    var newIncomingMessage = firstIncomingMessage.cloneNode(true);
                    newIncomingMessage.id = "incomingMessage_" + ($('#mesgs').children().length / 2 + 1);
                   
                    var newOutgoingMessage = firstOutgoingMessage.cloneNode(true);
                    newOutgoingMessage.id = "outgoingMessage_" + ($('#mesgs').children().length/2 + 1);

                    var messages = document.getElementById("mesgs");

                    messages.appendChild(newIncomingMessage);
                    messages.appendChild(newOutgoingMessage);

                    //обновление id у textarea
                    $("#incomingMessage_" + ($('#mesgs').children().length / 2) + " :input")[0].id = "textarea_" + ($('#mesgs').children().length / 2);

                    //обновление id у checkbox-ов
                    $("#outgoingMessage_" + ($('#mesgs').children().length / 2) + " :input")[0].id = "checkbox_" + ($('#mesgs').children().length / 2) + "_" + 0;
                    $("#outgoingMessage_" + ($('#mesgs').children().length / 2) + " :input")[1].id = "checkbox_" + ($('#mesgs').children().length / 2) + "_" + 1;
                    $("#outgoingMessage_" + ($('#mesgs').children().length / 2) + " :input")[2].id = "checkbox_" + ($('#mesgs').children().length / 2) + "_" + 2;
                    $("#outgoingMessage_" + ($('#mesgs').children().length / 2) + " :input")[3].id = "checkbox_" + ($('#mesgs').children().length / 2) + "_" + 3;
                    
                }

                function deletePair() {
                    if ($('#mesgs').children().length <= 2) {
                        alert("Низя. Обязательно должна быть хотя бы одна пара блоков.");
                    } else {
                        $('#mesgs').children().last().remove();
                        $('#mesgs').children().last().remove();
                    }

                }

            </script>


        </div>
    </div>
</body>
